<h2>Update User order list</h2>

<%= form_for @cart, url: admin_cart_path(@cart) do |c| %>

  <%= c.label :total_price, '總金額' %>
  <%= c.text_field :total_price %>

  <%= c.label :receiver, '收件者' %>
  <%= c.text_field :receiver %>

  <%= c.label :phone_number, '電話'%>
  <%= c.text_field :phone_number %>

  <%= c.label :address, '地址'%>
  <%= c.text_field :address %>

  <%= c.label :order_status, '訂單狀態' %>
  <%= c.select :order_status, [["新訂單", "新訂單"], ["已出貨", "已出貨"], ["已取消", "已取消"]] %>

  <%= c.label :money_status, '付款狀態' %>
  <%= c.select :money_status, [["未付款", "未付款"], ["已付款", "已付款"]] %>

  <%= c.label :payment, '付款方式' %>
  <%= c.select :payment, [["信用卡", "信用卡"],["PayPal","paypal"],["ATM付款","atm"]]%>

  <%= c.submit '修改訂單'%>

<% end %>