<h1>Admin Products List</h1>

<table class="table">
<%= link_to "Create", new_admin_product_path, :class => "btn btn-warning"  %>
  <thead>
    <tr>
      <th><h3>Title</h3></th>
      <th><h3>Price</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>image</h3></th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.price %></td>
      <td><%= p.description %></td>
      <td><%= p.image %></td>
      <td><%= link_to "Show", product_path(p), :class => "btn btn-info" %></td>
      <td><%= link_to "Edit", edit_admin_product_path(p), :class => "btn btn-primary" %></td>
      <td><%= link_to "Destroy", admin_product_path(p), method: :delete, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>