<div class="container">
  <% @products.each do |product|%>
  <div class="item">
    <%= link_to product_path(product) do %>
      <%= image_tag product.image, width: 120 %>
      <div class="product-info">
        <div class="product-title"><%= product.title %></div>
        <div class="product-price">$<%= product.price %></div>
      </div>
    <% end %>
    <%= button_to '加入購物車', orders_path, params: {product_id: product.id}, class: "buy-btn" %>
  </div>
  <% end %>
</div>
