<h1>購物網站</h1>
<div>
  <%= link_to 'cart', orders_path %>
</div>
<div class="container">
  <% @products.each do |product|%>
  <div class="item">
    <%= link_to product_path(product) do %>
      <%= image_tag product.image, width: 120 %><br>
      <%= product.title%>
      <%= product.price%>
    <% end %>
    <br>
    <%= button_to 'buy', orders_path, params: {product_id: product.id}%>
  </div>
  <% end %>
</div>
